@use '../../../../mixins.scss' as *;

.roleLinks {
  margin: 0.5em 0;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background: var(--blert-surface-dark);

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    width: 100%;
    flex-flow: row wrap;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    width: 25%;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    text-align: center;

    @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
      width: 50%;

      &:nth-child(even) {
        border-left: 2px solid rgba(var(--blert-purple-base), 0.1);
      }

      &:nth-child(-n + 2) {
        border-bottom: 2px solid rgba(var(--blert-purple-base), 0.1);
      }
    }

    @media (min-width: $COMPACT_WIDTH_THRESHOLD) {
      &:not(:last-child) {
        border-right: 2px solid rgba(var(--blert-purple-base), 0.1);
      }
    }

    &.active {
      background: var(--blert-surface-darker);
      color: #fff;

      &:hover {
        cursor: default;
      }
    }

    &:not(.active):hover {
      background: var(--blert-surface-light);
      color: #fff;
    }

    img {
      margin-right: 10px;
      box-shadow: none;
    }
  }
}
