.wrapper {
  position: relative;
  width: fit-content;

  .input {
    &.open {
      border-radius: 5px 5px 0 0;
      border-bottom: none;
    }
  }
}

.suggestions {
  border-color: #fff !important;
  background-color: var(--panel-bg);

  .suggestion {
    padding: 2px 12px;
  }
}
