.image {
  position: relative;
  display: flex;

  img {
    object-fit: contain;
  }

  .quantity {
    position: absolute;
    font-family: var(--font-runescape);
    font-weight: 400;
    font-size: 14px;
    text-shadow: 1px 1px 1px black;
  }
}
