@use '../../mixins.scss' as *;

.editable {
  display: flex;
  align-items: center;

  .text {
    max-width: calc(100% - 44px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: text;
  }

  .input {
    width: calc(100% - 44px);
    background: none;
    margin: 0;
    outline: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  input.input {
    padding: 1px 0 0 0;
  }

  textarea.input {
    padding: 0;
    min-height: 10em;
    max-height: 80vh;
    font-family: 'Inter', sans-serif;
    resize: vertical;

    @include styledScrollbar;
  }

  .button {
    width: 28px;
    margin-left: 1em;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}
