@import '../../mixins.scss';

.playerPage {
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pbWrapper {
    padding: 20px;
  }

  .statsWrapper {
    padding: 20px;

    h2 {
      width: 100%;
      margin: 0;
      font-weight: 500;
      padding-bottom: 4px;
      border-bottom: 1px solid rgba(195, 199, 201, 0.21);
    }

    .stats {
      width: 100%;
      padding: 20px 10px;
      justify-content: space-evenly;

      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .individualStat {
        text-align: center;
        border-radius: 5px;
        border: 1px solid rgba(195, 199, 201, 0.21);
        margin: 16px;
        height: 126px;
      }
    }
  }

  .playerPreview {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    h1 {
      font-size: 50px;
    }

    .playerImgWrapper {
      height: 200px;
      width: 200px;
      display: flex;
      position: relative;
    }
  }

  .recentRaids {
    flex-grow: 0;
  }

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    width: 100%;

    .playerPreview {
      flex-direction: column;
      width: 100vw;

      h1 {
        font-size: 32px;
        padding: 0 12px;
        width: 100%;
        text-align: center;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.pbTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;

  h2 {
    text-align: center;
    margin: 0;
  }

  .pbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a.pb:hover {
      background-color: lighten(#1b1c25, 4%);
    }

    .pb {
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      width: 170px;

      .time {
        font-size: 32px;
        font-weight: 700;
        color: #fff;
      }

      .scale {
        font-size: 20px;
        font-weight: 500;
        opacity: 0.8;
      }
    }
  }
}
