@import '../../mixins.scss';

.replay {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .actors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .actor {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;

      & > h2 {
        font-size: 1.25rem;
      }
    }
  }
}
