@import '../../mixins.scss';

.replay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    flex-direction: column;
    padding: 10px 0;
  }

  .actors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;

    @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
      margin-top: 10px;
      width: 100%;
    }

    .actor {
      cursor: pointer;
      border: 1px solid rgba(195, 199, 201, 0.29);
      margin: 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 270px;
      margin: 0 auto 10px auto;
      padding-bottom: 5px;

      @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
        width: 170px;

        .equipment {
          transform: scale(0.75);
          top: -24px;
        }
      }

      h2 {
        margin: 0;
        padding: 10px 10px 0 10px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        font-size: 1.25rem;

        @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
          font-size: 1.1rem;
        }
      }

      &.selected {
        border: 1px solid rgb(61, 143, 180);
      }

      &:hover {
        background-color: lighten(#1b1c25, 2%);
      }

      .skills {
        margin-top: 8px;
        width: 100%;
        display: flex;
        flex-flow: row wrap;

        .skill {
          width: 33.33%;
          @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
            font-size: 12px;
          }
        }

        @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
          margin-top: -40px;
        }
      }
    }
  }
}
