@use '../../../../../mixins.scss' as *;

.overview {
  width: fit-content !important;

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    width: 100%;
  }
}

.phaseTimes {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  gap: 16px;
  background: var(--background-color-light);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  min-width: 300px;
}

.phaseTime {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .phaseLabel {
    font-weight: 500;
    color: var(--text-color-secondary);
  }

  .phaseValue {
    font-family: var(--font-roboto-mono), monospace;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--blert-button);
    background: rgba(var(--blert-button-base), 0.1);
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: rgba(var(--blert-button-base), 0.2);
    }
  }
}
