@import '../../../../mixins.scss';

.bossPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: var(--width);
  align-items: center;
  padding-top: 20px;
  margin-bottom: 1000px;
}

.bossPage__Inner {
  width: 900px;
  display: flex;
  flex-direction: column;
}

.bossPage__Overview {
  //   border: 1px solid red;
  //   height: 150px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.bossPage__BossPic {
  height: 200px;
  width: 240px;
  position: relative;
  margin: 20px;
}

.bossPage__KeyDetails {
  //   border: 1px solid green;
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    font-size: 35px;
    margin: 0 20px;
    border-bottom: 2px solid grey;
  }
}

.bossPage__Controls {
  @include panel;
  height: 150px;
  margin-bottom: 20px;
}

.bossPage__AttackTimeline {
  @include panel;
  height: 150px;
  margin-bottom: 20px;
}

.bossPage__Replay {
  @include panel;
  height: 150px;
  margin-bottom: 20px;
}

.bossPage__Graffs {
  @include panel;
  height: 150px;
  margin-bottom: 20px;
}
