.activityChart {
  margin-top: 10px;

  .chartTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    color: var(--blert-font-color-secondary);
    font-size: 0.9em;

    .chartTitleMain {
      display: flex;
      align-items: center;
      gap: 8px;

      i {
        color: var(--blert-purple);
      }
    }

    .chartTimeRange {
      position: relative;
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 0.9em;
      padding: 4px 8px;
      background: var(--blert-surface-dark);
      border-radius: 4px;

      i {
        position: relative;
        font-size: 0.9em;
        top: 2px;
      }
    }
  }

  :global(.recharts-cartesian-grid-horizontal line),
  :global(.recharts-cartesian-grid-vertical line) {
    stroke: var(--blert-divider-color);
  }

  :global(.recharts-tooltip-cursor) {
    fill: var(--blert-divider-color);
  }
}
