@use '@/mixins.scss' as *;

.delvePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 24px;

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    gap: 12px;
  }
}

.overview {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.timeline {
  width: 100%;
  max-width: 2150px;
}

.replayAndParty {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  justify-content: center;
  width: 100%;

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    gap: 12px;
  }
}

.orbSource {
  font-size: 0.85rem;
  margin-top: 0.25rem;
  color: var(--blert-font-color-secondary);
  // TODO(frolv): Ball sources sent from the plugin are not always correct, so
  // this is hidden until the plugin is fixed.
  display: none;
}
