# Dependencies
node_modules

# Build outputs
**/dist/**
**/build/**
**/.next/**

# Test coverage
**/coverage/**

# Generated code
**/generated/**

# Type definitions
**/*.d.ts

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Dump files
web/resources/*.json
