services:
  postgres:
    image: postgres:16
    ports:
      - "5433:5432"
    volumes:
      - postgresdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: blert
      POSTGRES_PASSWORD: blert
      POSTGRES_DB: blert

  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - rediscache:/data

  socket-server:
    image: node:22
    depends_on:
      - redis
      - postgres
      - challenge-server
    ports:
      - "3003:3003"
    links:
      - redis
      - postgres
      - challenge-server
    volumes:
      - .:/app
    environment:
      NODE_ENV: development
      BLERT_DATABASE_URI: postgres://blert:blert@postgres:5432/blert
      BLERT_DATA_REPOSITORY: file:///app/.data/challenges
      BLERT_CHALLENGE_SERVER_URI: http://challenge-server:3003
      BLERT_CLIENT_DATA_REPOSITORY: file:///app/.data/testing_data
      BLERT_REDIS_URI: redis://redis:6379
    working_dir: /app
    command: npm run -w socket-server dev

  challenge-server:
    image: node:22
    depends_on:
      - redis
      - postgres
    ports:
      - "3009:3003"
    links:
      - redis
      - postgres
    volumes:
      - .:/app
    environment:
      NODE_ENV: development
      BLERT_DATABASE_URI: postgres://blert:blert@postgres:5432/blert
      BLERT_DATA_REPOSITORY: file:///app/.data/challenges
      BLERT_TEST_DATA_REPOSITORY: file:///app/.data/testing_data
      BLERT_LOG_LEVEL: debug
      BLERT_REDIS_URI: redis://redis:6379
    working_dir: /app
    command: npm run -w challenge-server dev

  blertbank:
    image: node:22
    depends_on:
      - postgres
    ports:
      - "3013:3003"
    links:
      - postgres
    volumes:
      - .:/app
    environment:
      NODE_ENV: development
      BLERTBANK_DATABASE_URI: postgres://blertbank:blertbank@postgres:5432/blertbank
      BLERTBANK_LOG_LEVEL: debug
      BLERTBANK_SERVICE_TOKEN: blertbank
    working_dir: /app
    command: npm run -w blertbank dev

volumes:
  rediscache:
    driver: local
  postgresdata:
    driver: local
