@use '../../mixins.scss' as *;

.tooltip {
  color: var(--blert-text-color) !important;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
