@import '../../../../../mixins.scss';

.statsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    flex-direction: column;
    align-items: center;

    .spawn {
      margin-top: 4px;
    }
  }

  .spawn {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;

    .split {
      font-size: 18px;
      padding: 12px 0;

      .name {
        font-weight: bold;
        color: #fff;
      }

      .delta {
        margin-left: 8px;
        font-size: 16px;
        opacity: 0.8;
      }
    }
  }

  table {
    font-size: 14px;

    td > div {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.presentCrab {
        border: 1px solid #a80505;
      }
      &.absentCrab {
        border: 1px solid #ffffff30;
      }
    }
  }

  .scuffed {
    margin-top: 4px;
    font-style: italic;
  }
}
