.bossPage__Overview {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.bossPage__BossPic {
  height: 200px;
  width: 240px;
  position: relative;
  margin: 20px;
}

.bossPage__KeyDetails {
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    font-size: 35px;
    margin: 0 20px;
    border-bottom: 2px solid grey;
  }
}
