.bar {
  position: relative;
  box-sizing: content-box;
  border: 1px solid #494848;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }

  .progress {
    z-index: 2;
    background-color: rgba(32, 100, 225, 0.6);
    height: 100%;
  }

  .hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
  }

  .tick {
    position: absolute;
    z-index: 4;
    padding: 0.2em 0;
    background-color: #141414;
    color: #fff;
    text-align: center;
    border-radius: 5px;

    .pointer {
      position: absolute;
      height: 10px;
      width: 10px;
      transform: rotate(45deg);
      background-color: #141414;
    }
  }

  .milestone {
    pointer-events: none;
    position: absolute;
    width: 1px;
    top: -5px;
    background-color: var(--blert-font-color-primary);
    border-radius: 1px;
    height: calc(100% + 10px);

    .label {
      position: absolute;
      padding: 2px 5px;
      bottom: -27px;
      font-size: 14px;
      transform: translateX(-50%);
      border: 1px solid var(--blert-font-color-primary);
      border-radius: 4px;
      white-space: nowrap;
    }
  }
}
