.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  border-radius: 4px;
  background: var(--blert-surface-dark);
  font-size: 0.85em;
  color: var(--blert-font-color-primary);
  transition: all 0.2s ease;
  text-decoration: none;

  &.link {
    &:hover {
      transform: translateY(-1px);
      background: var(--blert-surface-light);
      outline: 1px solid var(--blert-purple);
    }
  }

  i {
    color: var(--blert-purple);
    font-size: 0.9em;
  }

  strong {
    display: flex;
    align-items: center;
    color: var(--blert-font-color-secondary);
    font-weight: 500;
  }
}
