.chartContainer {
  width: 100%;
  height: 360px;
  --dist-cdf: color-mix(
    in srgb,
    var(--blert-purple) 50%,
    var(--blert-font-color-primary)
  );
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: var(--blert-font-color-secondary);
  font-size: 0.9rem;
}
