.bossPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .inner {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
