@use '../../mixins.scss' as *;

.raid__Title {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 20px;
  position: relative;
  width: 385px;
  height: 200px;
  margin-top: 20px;
  flex-shrink: 0;

  &:not(.simple) {
    padding: 20px 20px 10px 20px;

    .raid__Logo {
      @include panel;
      padding: 20px 60px;
    }
  }

  .raid__Logo {
    width: 450px;
    justify-self: center;
  }
}
