.wavesTable {
  table-layout: fixed;

  .emptySpawn {
    color: var(--blert-font-color-secondary);
  }
}

.legend {
  padding: 4px 0;
  display: flex;
  gap: 14px;

  .legendItem {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.nylo {
  display: inline-flex;
  align-items: center;
  gap: 1px;

  .chip {
    position: relative;
    display: inline-grid;
    grid-auto-flow: column;
    gap: 2px;
    padding: 2px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.06);
    vertical-align: middle;

    .seg {
      width: 10px;
      height: 10px;
      border-radius: 2px;

      &.melee {
        background: #f7f7f7;
      }
      &.magic {
        background: #42c6d7;
      }
      &.ranged {
        background: #408d43;
      }
    }
  }

  &.big .chip {
    outline: 1px solid currentColor;
    outline-offset: 1px;

    .seg {
      width: 16px;
      height: 16px;
    }
  }

  &.aggro .chip {
    &::after {
      content: '';
      position: absolute;
      top: -3px;
      right: -3px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #dc2828;
      box-shadow:
        0 0 0 2px #0c0f16,
        0 0 0 3px rgba(220, 40, 40, 0.5);
    }
  }
}

.cycleTable {
  .spawnTick {
    background: rgba(var(--blert-purple-base), 0.2);
    color: white;
    font-weight: 700;
  }
}

.mono {
  font-family: var(--font-roboto-mono);
}
