.topbar {
  position: fixed;
  top: 0;
  height: var(--topbar-height);
  width: 100%;
  display: flex;
  padding: 0.5em 1em;
  align-items: center;
  background-color: #1e1f22;
  box-shadow: 0px 2px 2px 0px #141414;
}

.content {
  margin-top: calc(var(--topbar-height) + 1em);
}
