.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  pointer-events: none;
  z-index: 10;
}

.selectedSlot {
  background: rgba(var(--blert-button-base), 0.08);
  pointer-events: none;

  &.cut {
    background: rgba(var(--blert-yellow-base), 0.1);
    border: 1px dashed rgba(var(--blert-yellow-base), 0.5);
    opacity: 0.7;
  }

  &.copy {
    background: rgba(var(--blert-blue-base), 0.1);
    border: 1px solid rgba(var(--blert-blue-base), 0.4);
  }
}
