@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --topbar-height: 60px;

  --blert-red: rgb(239, 68, 68);
  --blert-blue: rgb(59, 130, 246);
  --blert-text-color: #c3c7c9;
}

body {
  color: var(--blert-text-color);
  background-color: #2b2d31;
}
