@mixin panel {
  display: flex;
  background-color: var(--blert-panel-background-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@mixin hideTheFuckingScrollbarsJesusChrist {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin styledScrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #23242f;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--blert-font-color-secondary);
    border-radius: 4px;
  }
}

// Keep this in sync with `app/display.tsx`.
$COMPACT_WIDTH_THRESHOLD: 940px;

// Keep this in sync with `components/left-nav/definitions.ts`.
$LEFT_NAV_WIDTH: 240px;

// Keep this in sync with `components/topbar/topbar.tsx`.
$TOPBAR_HEIGHT: 60px;
