@mixin panel {
  display: flex;
  background-color: var(--panel-bg);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@mixin hideTheFuckingScrollbarsJesusChrist {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin styledScrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #23242f;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--blert-text-color);
    border-radius: 4px;
  }
}
