@use './mixins.scss' as *;

.siteParent {
  flex-direction: column;
  width: 100vw;
  transition: margin-left 0.3s ease, width 0.3s ease;

  @media (min-width: $COMPACT_WIDTH_THRESHOLD) {
    margin-left: var(--left-nav-width, $LEFT_NAV_WIDTH);
    width: calc(100vw - var(--left-nav-width, $LEFT_NAV_WIDTH));
  }

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    margin-top: $TOPBAR_HEIGHT;
  }
}

.pageParentContent {
  min-height: 100%;
  background-color: var(--content-area-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.body {
  @include styledScrollbar;
}
