.button {
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 10px;
  background-color: var(--blert-purple);
  color: white;
  font-weight: 600;
  border: 1px solid var(--blert-purple);

  &.simple {
    background: none;
    color: var(--blert-purple);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
