.keyPrayers {
  width: 130px;
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;

  .prayer {
    width: 40px;
    height: 40px;
    margin: 2px 0;
    opacity: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      opacity: 1;
      border-radius: 50%;
      background-color: #b5a16d88;
    }
    .wrapper {
      position: relative;
      width: 32px;
      height: 32px;
    }
  }

  .secondary {
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 44px;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}
