.keyPrayers {
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;

  .prayer {
    margin: 2px 0;
    opacity: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      opacity: 1;
      border-radius: 50%;
      background-color: #b5a16d88;
    }
    .wrapper {
      position: relative;
    }
  }

  .secondary {
    border-radius: 8px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    color: var(--blert-font-color-secondary);
    padding: 4px;
    backdrop-filter: blur(2px);
  }
}
