@use '../../mixins.scss' as *;

.attackTimelineCard {
  width: 100%;

  .actionButtons {
    display: flex;
    gap: 10px;

    button {
      margin: 0 0 0 auto;
      text-align: center;
      width: 100px;
      font-size: 16px;
      transition: all 0.2s ease;
      color: var(--blert-purple);

      &:hover {
        cursor: pointer;
      }

      i {
        margin-right: 5px;
      }
    }
  }
}

.settingsCheckbox {
  width: 100%;
  padding: 4px 0;
}

.timelineModal {
  @include styledScrollbar;

  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}
