@import '../../mixins.scss';

.attackTimelinePanel {
  .expandButton {
    margin: 8px 0 0 auto;
    text-align: center;
    width: 110px;
    font-size: 16px;

    &:hover {
      cursor: pointer;
      color: #fff;
    }

    i {
      margin-right: 5px;
    }
  }
}

.timelineModal {
  @include styledScrollbar;

  width: 100%;
  padding: 20px 30px;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}
