@use '../../mixins.scss' as *;

.attackTimelineCard {
  width: 100%;

  .actionButtons {
    display: flex;
    gap: 10px;

    button {
      margin: 0 0 0 auto;
      text-align: center;
      font-size: 16px;
      transition: all 0.2s ease;
      color: var(--blert-purple);

      &:hover {
        cursor: pointer;
      }

      i {
        margin-right: 5px;

        @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
          margin-right: 0;
        }
      }

      span {
        @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
          display: none;
        }
      }
    }
  }
}

.settingsCheckbox {
  width: 100%;
  padding: 4px 0;
}

.fullScreenModal {
  max-height: 95vh;
  display: flex;
  flex-direction: column;
}

.timelineModal {
  @include styledScrollbar;

  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.tooltip {
  .statsGrid {
    display: flex;
    gap: 0.5rem;
  }

  .combatStat {
    opacity: 0.7;
  }

  .emphasizedStat {
    text-decoration: underline;
    opacity: 1;
  }
}
