.equipmentViewer {
  position: relative;

  .empty {
    position: absolute;
    text-align: center;
    background: var(--blert-surface-dark);
    border: 1px solid var(--blert-surface-light);
    border-radius: 8px;
    padding: 8px;
    color: var(--blert-font-color-secondary);
    font-size: 0.9em;
    width: 160px;
    left: 50%;
    transform: translateX(-50%);
  }

  .missing {
    background: var(--blert-surface-dark);
    border: 1px solid var(--blert-surface-light);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: var(--blert-font-color-secondary);
    padding: 4px;
  }
}
