.radioGroup {
  $selectedColor: rgb(46, 38, 77);

  display: flex;
  gap: 4px;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &.joined {
    gap: 0;
    border-radius: 5px;
    overflow: hidden;

    .radioOption {
      border-radius: 0;
    }
  }

  &.compact {
    .radioOption {
      flex-basis: initial;

      label {
        padding: 6px;
      }

      input:checked + label {
        font-weight: initial;
      }
    }
  }

  &.simple {
    .radioOption {
      border-radius: 0;
      background: none;
      color: var(--font-color-nav);

      label {
        border: 1px solid var(--font-color-nav-divider);
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
      }

      label:hover {
        border: 1px solid rgba(var(--blert-button-base), 0.7);
        color: var(--blert-text-color);
        background: none;
      }

      input:checked + label {
        border: 1px solid var(--blert-button);
        color: var(--blert-text-color);
        font-weight: 500;
        background: none;
      }
    }
  }

  .radioOption {
    flex-grow: 1;
    flex-basis: 0;
    background: var(--nav-bg);
    border-radius: 5px;
    overflow: hidden;

    label {
      display: block;
      padding: 10px;
      text-align: center;

      &:hover {
        color: white;
        cursor: pointer;
        background: rgba($selectedColor, 0.4);
      }
    }

    input {
      position: absolute;
      visibility: hidden;
      height: 0;
      width: 0;
    }

    input:disabled + label {
      opacity: 0.5;
      cursor: default;

      &:hover {
        color: var(--font-color-nav);
        background: var(--nav-bg);
      }
    }

    input:checked + label {
      background: $selectedColor;
      color: white;
      font-weight: bold;

      &:hover {
        cursor: default;
      }
    }
  }
}
