@use '../../mixins.scss' as *;

@mixin bcf-colors {
  /* --- RED --- */
  --bcf-color-red-low: rgba(160, 80, 80, 0.2);
  --bcf-color-red-medium: rgba(120, 50, 50, 0.45);
  --bcf-color-red-high: rgba(80, 32, 32, 0.7);

  /* --- ORANGE --- */
  --bcf-color-orange-low: rgba(220, 140, 70, 0.25);
  --bcf-color-orange-medium: rgba(210, 130, 60, 0.45);
  --bcf-color-orange-high: rgba(200, 120, 50, 0.7);

  /* --- YELLOW --- */
  --bcf-color-yellow-low: rgba(240, 230, 140, 0.25);
  --bcf-color-yellow-medium: rgba(230, 215, 100, 0.45);
  --bcf-color-yellow-high: rgba(222, 200, 88, 0.7);

  /* --- GREEN --- */
  --bcf-color-green-low: rgba(100, 180, 100, 0.25);
  --bcf-color-green-medium: rgba(80, 160, 85, 0.45);
  --bcf-color-green-high: rgba(64, 147, 67, 0.7);

  /* --- CYAN --- */
  --bcf-color-cyan-low: rgba(100, 220, 235, 0.25);
  --bcf-color-cyan-medium: rgba(85, 210, 225, 0.45);
  --bcf-color-cyan-high: rgba(66, 198, 215, 0.7);

  /* --- BLUE --- */
  --bcf-color-blue-low: rgba(100, 160, 255, 0.25);
  --bcf-color-blue-medium: rgba(80, 145, 250, 0.45);
  --bcf-color-blue-high: rgba(59, 130, 246, 0.7);

  /* --- PURPLE --- */
  --bcf-color-purple-low: rgba(130, 140, 255, 0.25);
  --bcf-color-purple-medium: rgba(110, 120, 250, 0.45);
  --bcf-color-purple-high: rgba(88, 101, 242, 0.7);

  /* --- GRAY --- */
  --bcf-color-gray-low: rgba(190, 190, 195, 0.25);
  --bcf-color-gray-medium: rgba(180, 180, 180, 0.45);
  --bcf-color-gray-high: rgba(169, 170, 171, 0.7);
}

.bcfRenderer {
  @include bcf-colors;

  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.column,
.legend {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
}

.legend {
  position: relative;
  margin: 81px 0 0 0;
  align-items: flex-end !important;

  .legendRow {
    padding: 24px 0 10px 0;
    width: 100%;

    &:not(:first-child) {
      margin-top: 56px;
    }
  }

  .legendParticipant {
    height: var(--cell-size);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: var(--blert-surface-light);
    border-radius: 4px;
    font-size: 0.9em;
    color: var(--blert-font-color-primary);
    font-weight: 500;
    width: calc(100% - 10px);
    opacity: 1;
    margin: 0 5px 5px 0;
    transition: all 0.2s ease;

    &.npc {
      background: rgba(var(--blert-red-base), 0.1);
      color: var(--blert-font-color-primary);
    }

    &.custom {
      background: rgba(var(--blert-yellow-base), 0.1);
      color: var(--blert-font-color-primary);
    }

    &.selected {
      background: var(--blert-purple);
      color: white;

      &.npc {
        background: rgba(var(--blert-red-base), 0.8);
        color: white;
      }
    }
  }
}

button.legendParticipant {
  cursor: pointer;

  &:hover {
    background: var(--blert-purple);
    color: white;
    transform: translateY(-1px);
  }

  &.npc:hover {
    background: rgba(var(--blert-red-base), 0.3);
    color: rgba(var(--blert-red-base), 1);
  }

  &.custom:hover {
    background: rgba(var(--blert-yellow-base), 0.3);
    color: rgba(var(--blert-yellow-base), 1);
  }
}

.scrollable {
  position: relative;
  padding: var(--bcf-scrollable-padding-top) 10px 50px
    var(--bcf-scrollable-padding-left);
  display: flex;
  flex-flow: row wrap;
  overflow-x: auto;
  overflow-y: visible;
  width: 100%;

  .row {
    display: flex;
    width: 100%;
    gap: var(--bcf-cell-gap);

    &:not(:only-child) {
      &:not(:last-child) {
        margin-bottom: var(--bcf-row-margin);
      }
    }
  }

  @include styledScrollbar;
}

.column {
  width: var(--cell-size);
}

.columnTick {
  font-size: calc(var(--cell-size) / 2 - 1px);
  position: relative;
  text-align: center;
  padding: 0;
  color: var(--blert-font-color-secondary);
  height: var(--bcf-tick-height);

  &.interactive {
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: var(--blert-font-color-primary);
    }
  }
}

.split {
  --split-width: calc(var(--cell-size) + 20px);

  position: absolute;
  height: 50px;
  top: -55px;
  left: -10px;
  width: var(--split-width);

  &.splitBottom {
    transform: rotate(180deg);
    bottom: -40px;
    top: unset;
  }

  .splitName {
    border: 1px solid var(--blert-purple);
    background: var(--blert-panel-background-color);
    border-radius: 5px;
    padding: 4px 8px;
    text-align: center;
    position: absolute;
    white-space: nowrap;
    top: 2px;
    left: 50%;
    font-size: 1.1em;
    transform: translateX(-50%);
    color: var(--blert-font-color-primary);
  }

  .splitIndicator {
    position: relative;
    top: -8px;

    .splitLine {
      position: absolute;
      bottom: -58px;
      height: 10px;
      width: 100%;
      border-left: 2px solid var(--blert-purple);
      border-right: 2px solid var(--blert-purple);
      border-top: 2px solid var(--blert-purple);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      opacity: 0.5;
    }

    .splitTail {
      bottom: -49px;
      height: 5px;
      position: absolute;
      left: calc(var(--split-width) / 2 - 1px);
      border-left: 2px solid var(--blert-purple);
      opacity: 0.5;
    }
  }
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  background: var(--blert-surface-light);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  opacity: 0.4;
  margin: 0 0 var(--bcf-cell-gap) 0;
  position: relative;
  transition: all 0.2s ease;
  outline: 1px solid transparent;

  &:hover {
    outline-color: var(--blert-purple);
    opacity: 0.7;
  }

  &.npcAttack {
    opacity: 1;
    background: rgba(var(--blert-red-base), 0.1);
    color: rgba(var(--blert-red-base), 0.9);

    &:hover {
      background: rgba(var(--blert-red-base), 0.3);
      outline-color: rgba(var(--blert-red-base), 0.9);
      opacity: 0.9;
    }
  }

  &.highlighted {
    opacity: 1;
    background: rgba(48, 51, 73, 0.5);
    color: rgba(var(--blert-purple-base), 0.9);

    &:hover {
      background: rgba(var(--blert-purple-base), 0.3);
      opacity: 0.9;
    }
  }

  &.playerDead {
    background: rgba(var(--blert-red-base), 0.15);
    opacity: 0.25;
    color: rgba(var(--blert-red-base), 0.9);

    &:hover {
      background: rgba(var(--blert-red-base), 0.3);
      opacity: 0.4;
    }
  }

  &.success {
    outline: 1px solid rgba(var(--blert-green-base), 0.25);

    &:hover {
      outline-color: rgba(var(--blert-green-base), 0.75);
      background: rgba(var(--blert-green-base), 0.2);
    }
  }

  &.warning {
    outline: 1px solid rgba(var(--blert-yellow-base), 0.5);

    &:hover {
      outline-color: rgba(var(--blert-yellow-base), 0.9);
      background: rgba(var(--blert-yellow-base), 0.2);
    }
  }

  &.danger {
    outline: 1px solid rgba(var(--blert-red-base), 0.5);

    &:hover {
      outline-color: rgba(var(--blert-red-base), 0.9);
      background: rgba(var(--blert-red-base), 0.2);
    }
  }

  &.neutral {
    outline: 1px solid rgba(var(--blert-font-color-primary-base), 0.2);

    &:hover {
      outline-color: rgba(var(--blert-purple-base), 0.8);
      background: rgba(var(--blert-purple-base), 0.2);
    }
  }
}

.cellImage {
  object-fit: contain;
}

.cellLabel {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
  color: var(--blert-font-color-primary);
  font-size: min(calc(var(--cell-size) / 2 - 2px), 10px);
}

.letter {
  font-size: calc(var(--cell-size) / 2);
  color: var(--blert-font-color-primary);
}

.playerCellImage {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: contain;
  }

  .spellIcon {
    position: absolute;
    height: calc(var(--cell-size) / 2 + 1px);
    width: calc(var(--cell-size) / 2 + 1px);
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .attackIcon {
    position: absolute;
    bottom: -1px;
    right: -1px;
    z-index: 10;
  }
}

.customStates {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
  pointer-events: none;
  font-size: 8px;
  color: var(--blert-font-color-primary);
}

.customStatesMore {
  position: relative;
  top: -2px;
  font-size: 11px;
  color: var(--blert-purple);
}

.columnActiveIndicator {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid var(--blert-purple);
  border-radius: 5px;
  opacity: 0.5;
  transition: transform 0.25s ease-out;
  will-change: transform;
}
