@use '@/mixins.scss' as *;

.down {
  td {
    padding: 5px 0;
  }

  i {
    color: var(--blert-purple);
  }

  .arrow {
    color: var(--blert-font-color-secondary);
  }

  .walkTime {
    font-family: var(--font-roboto-mono), monospace;
  }

  .walkTicks {
    font-size: 14px;
    color: var(--blert-font-color-secondary);
    margin-left: 8px;
  }
}
