.map {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  border: 2px solid rgba(var(--blert-font-color-primary-base), 0.7);
  overflow: hidden;
  // max-width: 500px;
  // max-height: 400px;

  .mapRow {
    display: flex;

    .mapTile {
      position: relative;
      display: inline-block;
      box-sizing: border-box;

      &:hover {
        border: 1px solid rgba(var(--blert-font-color-primary-base), 0.4);
        opacity: 0.95;
      }
    }
  }

  .countOverlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }

    .count {
      width: 50%;
      height: 50%;
      background-color: #141414;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
    }
  }

  .entity {
    position: absolute;
    box-sizing: border-box;
    user-select: none;
  }

  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    background-color: var(--blert-surface-dark);
    border-radius: 5px;
    white-space: nowrap;

    button {
      color: var(--blert-font-color-primary);
      text-align: left;

      &:hover {
        color: #fff;
        cursor: pointer;
      }

      .type {
        display: inline-block;
        text-transform: uppercase;
        font-size: 9px;
        width: 45px;
        color: var(--blert-font-color-secondary);
      }
    }
  }
}
