.tickInput {
  position: relative;
  width: fit-content;

  .input {
    &.comparator {
      padding-left: 40px;
    }
  }

  .typeBar {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-left: 1px solid rgba(var(--blert-purple-base), 0.1);

    button {
      padding: 2px 6px;
      color: var(--blert-font-color-secondary);

      &:disabled {
        color: var(--blert-purple);
      }

      &:not(:disabled):hover {
        cursor: pointer;
        color: var(--blert-font-color-primary);
      }
    }
  }

  .comparator {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    padding: 0 10px 0 14px;
    display: flex;
    align-items: center;
    font-family: var(--font-roboto-mono), monospace;

    &:hover {
      cursor: pointer;
      color: #fff;
    }
  }
}
