.tickInput {
  width: fit-content;

  .inputArea {
    position: relative;
  }

  .modeToggle {
    display: flex;
    justify-content: center;
    margin-top: -11px;

    button {
      padding: 3px 10px;
      font-size: 11px;
      font-weight: 500;
      color: var(--blert-font-color-secondary);
      border: 1px solid var(--blert-divider-color);
      transition: all 0.15s ease;

      &:first-child {
        border-radius: 0 0 0 4px;
        border-right: none;
      }

      &:last-child {
        border-radius: 0 0 4px 0;
        border-left: none;
      }

      &:not(.active):hover {
        cursor: pointer;
        color: var(--blert-font-color-primary);
        background: rgba(var(--blert-surface-light-base), 0.4);
      }
    }

    .active {
      color: var(--blert-purple);
      background: rgba(var(--blert-purple-base), 0.1);
    }
  }

  .comparator {
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: calc(100% - 22px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blert-purple);
    background: rgba(var(--blert-surface-light-base), 0.2);
    border-right: 1px solid var(--blert-divider-color);
    font-size: 12px;
    transition: all 0.15s ease;

    i {
      position: relative;
      left: 1px;
    }

    &:hover {
      cursor: pointer;
      color: var(--blert-font-color-primary);
      background: rgba(var(--blert-surface-light-base), 0.45);
    }
  }
}
