.tickInput {
  width: fit-content;

  .inputArea {
    position: relative;

    input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .bottomBar {
    display: flex;
    margin-top: -11px;

    button {
      flex: 1 1 0;
      padding: 3px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: var(--font-roboto-mono), monospace;
      font-size: 11px;
      font-weight: 500;
      color: var(--blert-font-color-secondary);
      border: 1px solid var(--blert-divider-color);
      border-left: none;
      transition: all 0.15s ease;

      &:first-child {
        border-left: 1px solid var(--blert-divider-color);
        border-radius: 0 0 0 4px;
      }

      &:last-child {
        border-radius: 0 0 4px 0;
      }

      &:not(.active):not(:disabled):hover {
        cursor: pointer;
        color: var(--blert-font-color-primary);
        background: rgba(var(--blert-surface-light-base), 0.4);
      }

      &:disabled {
        opacity: 0.3;
      }
    }

    .modeButton {
      font-family: inherit;
      background: var(--blert-surface-dark);
      border-left-width: 2px;
      border-left-style: solid;
      border-left-color: var(--blert-divider-color);

      & + .modeButton {
        border-left: none;
      }
    }

    .active {
      color: var(--blert-purple);
      background: rgba(var(--blert-purple-base), 0.1);
    }
  }

  .comparator {
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: calc(100% - 22px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blert-purple);
    background: rgba(var(--blert-surface-light-base), 0.2);
    border-right: 1px solid var(--blert-divider-color);
    font-size: 12px;
    transition: all 0.15s ease;

    i {
      position: relative;
      left: 1px;
    }

    &:hover {
      cursor: pointer;
      color: var(--blert-font-color-primary);
      background: rgba(var(--blert-surface-light-base), 0.45);
    }
  }
}
