@import '../../mixins.scss';

.controls {
  @include panel;
  display: flex;
  margin: 10px 0;
  padding: 10px 20px;
  margin-bottom: 30px;
  width: 800px;
  transform: translateX(-50%);
  left: 50%;
  position: sticky;
  top: 5px;
  z-index: 10000;
  opacity: 1;
  flex-direction: column;
}

.controls__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controls__scrubber {
  padding: 60px 0 45px 0;
  input {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }

  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type='range']::-webkit-slider-runnable-track {
    background: lighten(#23242f, 10%);
    height: 0.5rem;
    border-radius: 3px;
  }

  /******** Firefox ********/
  input[type='range']::-moz-range-track {
    background: lighten(#23242f, 10%);
    height: 0.5rem;
    border-radius: 3px;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
  }
}

.controls__scrubber__splits {
  position: relative;
}

.controls__scrubber__split {
  position: absolute;
  opacity: 0.9;
  height: 10px;
  width: 3px;
  border-radius: 3px;
  background-color: #c3c7c9;
  top: 20px;
  transform: scale(1);

  &:hover {
    transform: scale(1.1);
  }

  &:nth-of-type(odd) {
    top: -8px;

    .controls__splitTextWrapper {
      span {
        top: -35px;
      }
    }
  }
}

.controls__splitTextWrapper {
  position: relative;
  left: -50%;
  cursor: pointer;

  span {
    position: absolute;
    font-size: 24px;
    padding: 5px 15px;
    border-radius: 5px;
    color: #c3c7c9;
    background-color: #c3c7c9;
    color: #23242f;
    top: 8px;
    white-space: nowrap;
    transform: translateX(-50%);
  }
}

@mixin controlBtn {
  font-size: 35px;
  height: 40px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: none;
  opacity: 0.7;
  box-shadow: 0 0 2px 0 rgba(195, 199, 201, 0.5);
  cursor: pointer;
  transition: all 100ms ease;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }

  &:active {
    transform: scale(1);
  }

  &:disabled {
    transform: scale(1);
    opacity: 0.25;
    cursor: default;
  }
}

.controls_BtnIcon {
  color: var(--blert-text-color);
}

.controls__tickInput {
  outline: none !important;
  background-color: #0f1015;
  color: rgba(195, 199, 201, 1);
  outline: none;
  border: none;
  border-radius: 5px;
  // margin-right: 20px;
  width: 75px;
  font-size: 26px;
  text-align: center;
  -moz-appearance: textfield;
  appearance: textfield;
}

.controls__tickInputLabel {
  width: 145px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls__tickInput::-webkit-outer-spin-button,
.controls__tickInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.controls__playButton {
  @include controlBtn;
  margin-left: 5px;
}

.controls__pauseButton {
  @include controlBtn;
}

.controls__restartButton {
  @include controlBtn;
}

.controls__roomActor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgba(195, 199, 201, 0.29);
  width: 100px;
  overflow: hidden;
  position: relative;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: #1f202b;
  }

  img {
    transform: scale(2);
    position: absolute;
    left: 0px;
  }

  &.controls__roomActorBoss {
    position: relative;
  }

  &.controls__roomActorPlayer {
    position: relative;
  }
}
