.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;

  &.dragging {
    cursor: grabbing;
  }

  .arrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--blert-surface-dark);
    color: var(--blert-font-color-secondary);
    transition: all 0.2s ease;
    cursor: pointer;

    i {
      position: relative;
      top: 1px;
    }

    &:not(:disabled) {
      color: var(--blert-purple);
    }

    &:hover:not(:disabled) {
      background: var(--blert-surface-light);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .wrapper {
    position: relative;
    overflow: hidden;
  }

  .list {
    display: flex;
    transition: transform 0.3s ease;

    &.dragging {
      transition: none;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
  }

  .dots {
    display: flex;
    gap: 8px;
    padding: 2px 0;

    .dot {
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(var(--blert-purple-base), 0.3);
      transition: all 0.2s ease;
      cursor: pointer;

      &:hover {
        background: rgba(var(--blert-purple-base), 0.6);
      }

      &.active {
        transform: scale(1.1);
        background: var(--blert-purple);
      }
    }
  }
}
