@import '../../mixins.scss';

.history {
  & > .message {
    text-align: center;
    padding: 1em 0;

    @media (min-width: $COMPACT_WIDTH_THRESHOLD) {
      min-width: 680px;
    }
  }

  .recentRaid {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--blert-text-color);
    margin-bottom: 5px;
    cursor: pointer;

    &:hover {
      background-color: lighten(#1b1c25, 4%);
    }

    .recentRaidTeam {
      font-size: 24px;
      padding: 0 10px;
      margin: 20px 0 5px 0;
      width: 100%;
      text-align: center;
    }
  }
}
