@use '@/mixins.scss' as *;

.overview {
  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    width: 100%;
  }
}

.phaseTimes {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  gap: 16px;
  background: var(--background-color-light);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  min-width: 300px;

  .phaseTime {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .phaseLabel {
      font-weight: 500;
      color: var(--text-color-secondary);
    }

    .phaseValue {
      font-family: var(--font-roboto-mono), monospace;
      font-size: 1.1em;
      font-weight: 500;
      color: var(--blert-purple);
      background: rgba(var(--blert-purple-base), 0.1);
      padding: 4px 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: rgba(var(--blert-purple-base), 0.2);
      }
    }
  }
}

.healing {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .healStat {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  i {
    color: var(--blert-purple);
  }
}

.healingTable {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 8px;
    text-align: center;
    font-size: 0.9em;
  }

  .healingTableHeader {
    border-bottom: 2px solid var(--blert-divider-color);
    font-weight: 700;

    i {
      color: var(--blert-purple);
      margin-right: 4px;
    }
  }

  .healingTableSubHeader {
    font-weight: 400;
    padding-bottom: 0;
    color: var(--blert-font-color-secondary);
  }

  .healingTableAmount {
    font-weight: 500;
    font-size: 1.1em;
  }
}

.exhumedOverlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .exhumedHealCount {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 2px;
    bottom: 2px;
    left: 2px;

    span {
      font-size: 10px;
      font-weight: 500;
      color: #fff;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }

    .exhumedBall {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }
  }
}
