@use '../mixins.scss' as *;

.searchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.challenges {
  position: relative;
  width: 100%;

  .wrapper {
    width: 100%;
    overflow-x: auto;

    @include styledScrollbar;
  }

  table.table {
    border-collapse: collapse;

    @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
      font-size: 14px;
    }

    th,
    td {
      padding: 4px 10px;
      max-width: 400px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      i {
        margin-left: 8px;
      }
    }

    thead {
      tr {
        background-color: var(--nav-bg);
        border-color: var(--nav-bg);

        th > span,
        th > button {
          font-size: inherit;
          font-weight: 500;
          color: white;
        }

        th > button {
          cursor: pointer;
        }
      }

      .addColumns {
        display: flex;
        align-items: center;
        width: 40px;
        padding-left: 4px;

        button {
          padding: 2px 0;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    tbody {
      tr {
        &:not(.selectedChallenge):hover {
          color: white;
        }

        &:nth-child(even) {
          background-color: var(--nav-bg);
        }

        &.selectedChallenge {
          background-color: var(--highlight-bg);
        }
      }
    }
  }

  .contextMenu {
    position: fixed;
    z-index: 1000;
    background-color: var(--nav-bg);
    border: 1px solid var(--blert-text-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .entry {
      height: 28px;
      padding: 4px 8px;
      text-align: left;
      font-size: 1rem;

      &:disabled,
      &.inactive {
        opacity: 0.7;
      }

      &.info {
        height: auto;
        pointer-events: none;
      }

      &:not(.inactive):hover {
        background-color: var(--nav-bg-lightened);
        cursor: pointer;
        color: white !important;
      }
    }

    .divider {
      width: calc(100% - 16px);
      height: 1px;
      margin: 0 auto;
      background-color: var(--content-area-bg);
    }
  }

  .id {
    font-family: var(--font-roboto-mono), monospace;
    font-size: 14px;
    color: var(--blert-blue);

    &:hover {
      opacity: 0.8;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: 1em 0;

    .controls {
      display: flex;
      align-items: center;
      flex-direction: row;

      button {
        width: 30px;
        padding: 5px;

        &:disabled {
          opacity: 0.5;
        }

        &:not(:disabled):hover {
          cursor: pointer;
          color: #fff;
        }
      }

      p {
        margin: 10px;
        width: 150px;
        text-align: center;
      }
    }
  }
}

.filters {
  padding: 10px 1em;
  display: flex;
  flex-direction: column;
  max-width: 1250px;

  .label {
    display: flex;
    width: 100%;
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 0.5em;

    .action {
      margin-left: auto;
      font-size: 12px;
      color: var(--blert-blue);

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  .filterGroup {
    display: flex;

    @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .item {
      margin: 8px 12px;
    }
  }

  .checkGroup {
    display: flex;
    flex-direction: column;
    width: 140px;

    .checkbox {
      padding: 4px 0;
    }
  }

  .stageFilter {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      min-width: 140px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0;
      border-radius: 4px;
      cursor: pointer;
      color: var(--blert-text-color);
      font-size: 16px;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &:not(:disabled):hover {
        background: var(--bg-lighter);
      }
    }
  }

  .dateWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    .date {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .dateRangeCheckbox {
      padding: 2px 0;
    }
  }

  .divider {
    width: min(600px, 90%);
    height: 1px;
    margin: 1em auto;
    background-color: var(--content-area-bg);
  }

  .custom {
    flex-direction: column;
    width: 100%;

    .customHeading {
      padding: 0 12px;

      & > label {
        font-size: 1.2rem;
        color: #fff;
        font-weight: 500;
      }

      .actions {
        margin: 0.6em 0;

        .action {
          width: 120px;

          &:not(:first-child) {
            margin-left: 12px;
          }

          i {
            margin-right: 8px;
          }
        }
      }
    }

    .inputs {
      display: flex;
      flex-flow: row wrap;

      .customInput {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 12px;

        button.remove {
          margin-left: 12px;
          font-size: 20px;

          &:hover {
            cursor: pointer;
            color: var(--blert-blue);
          }
        }
      }
    }
  }
}

.customFiltersModal {
  padding: 1em;
  width: 90vw;

  h2 {
    margin: 0;
  }

  .customFiltersContent {
    margin-top: 1em;
    padding: 0 0.5em;
    height: 80vh;
    overflow-y: auto;
    @include styledScrollbar;
  }

  .customFiltersList {
    padding-left: 1em;
    list-style: none;

    li {
      button {
        display: flex;
        align-items: center;
        padding: 4px 0;
        font-size: 1rem;

        i {
          position: relative;
          font-size: 14px;
        }

        &.collapsible {
          font-size: 1.1rem;
          font-weight: 500;
          color: #fff;
        }
      }
    }
  }
}

.columnsModal {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.8em 1.2em;

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    width: 90vw;
    max-height: 95vh;
    overflow-y: scroll;
  }

  h2 {
    margin: 0 0 1em 0;
  }

  .selection {
    display: flex;

    @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
      flex-direction: column;
      align-items: center;

      .columnsList {
        margin: 1em 0;
      }
    }
  }

  .columnsList {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 240px;
    padding: 16px 10px;
    border: 2px solid var(--blert-text-color);
    border-radius: 5px;

    @include styledScrollbar;

    &.hint {
      border-color: #fff;
    }

    &.active {
      .label {
        color: var(--blert-blue);
      }

      border-color: var(--blert-blue);
    }

    .listWrapper {
      height: 400px;
      padding: 0 4px;
      overflow-y: auto;
      position: relative;

      @include styledScrollbar;
    }

    &:not(.dragging) {
      .column:hover {
        cursor: pointer;
        background: var(--highlight-bg);
        color: #fff;
      }
    }

    @media (min-width: $COMPACT_WIDTH_THRESHOLD) {
      &:not(:first-child) {
        margin-left: 2em;
      }
    }

    .label {
      position: absolute;
      top: -12px;
      left: 10px;
      padding: 0 6px;
      background: var(--nav-bg);
      z-index: 10;
      font-size: 1.1rem;
      font-weight: 500;
      color: #fff;
    }

    .column {
      display: flex;
      align-items: center;
      border-radius: 3px;

      &.selected {
        background: var(--highlight-bg);
        color: #fff;
      }

      i {
        margin-left: auto;

        &:hover {
          cursor: pointer;
          color: var(--blert-blue);
        }
      }
    }

    .insertion {
      height: 2px;
      left: 8px;
      width: 200px;
      background: var(--blert-blue);
      z-index: 10;

      i {
        position: absolute;
        color: var(--blert-blue);
        top: -7px;

        &:first-child {
          left: -7px;
        }

        &:last-child {
          right: -7px;
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      width: 80px;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  .dimmer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    border-radius: 5px;
  }

  .confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: var(--panel-bg);
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    min-width: 240px;
    border-radius: 5px;

    .message {
      width: 100%;
      margin: 0 0 0.5em 0;
    }

    .confirmActions {
      margin: 0.5em 0 0 0;
      display: flex;
      justify-content: flex-start;
      width: 100%;

      button {
        width: 80px;
        margin-right: 10px;
      }
    }
  }
}
