@use '@/mixins.scss' as *;

.rat {
  --rat-width: 100px;
  --rat-height: 100px;
  --rat-y-bleed: 24px;

  display: block;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    display: none;
  }
}

.ratTrack {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--rat-width));
  height: 100%;
  will-change: transform;
  animation: horizontal linear 6.8s infinite alternate;
}

.ratBounce {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--rat-width);
  height: calc(100% - var(--rat-height));
  will-change: transform;
  animation: vertical linear 17s infinite;
}

.ratSprite {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--rat-width);
  height: var(--rat-height);
  filter: brightness(1.3);
  transform: scale(1.1);
  will-change: transform;

  .left {
    position: absolute;
    opacity: 0;
    animation: swapOn 13.6s infinite;
  }

  .right {
    position: absolute;
    opacity: 1;
    animation: swapOff 13.6s infinite;
  }
}

@keyframes horizontal {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes vertical {
  0% {
    transform: translate3d(0, calc(-1 * var(--rat-y-bleed)), 0);
  }
  50% {
    transform: translate3d(0, calc(100% + var(--rat-y-bleed)), 0);
  }
  100% {
    transform: translate3d(0, calc(-1 * var(--rat-y-bleed)), 0);
  }
}

@keyframes swapOff {
  0% {
    opacity: 1;
  }
  49.9% {
    opacity: 1;
  }
  50.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes swapOn {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .ratTrack,
  .ratBounce,
  .left,
  .right {
    animation: none;
  }
}

.tenWTwoQ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(var(--blert-surface-dark-base), 0.75);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 10px;
  }
}
