@use '@/mixins.scss' as *;

.colosseum {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;

  .handicapsList {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    padding: 4px;
    margin: -4px;
  }
}

.wavesOverview {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;

  h2 {
    font-size: 1.3em;
    margin: 0 0 20px 0;
    color: var(--blert-font-color-primary);
  }

  .waves {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    position: relative;
  }

  .wave {
    @include panel;
    padding: 16px;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
    display: flex;
    gap: 16px;
    z-index: 1;

    &:hover {
      transform: translateY(-2px);
      background: var(--blert-surface-light);
      outline: 1px solid var(--blert-purple);
    }

    .waveImg {
      position: relative;
      width: 120px;
      height: 120px;
      flex-shrink: 0;
      border-radius: 6px;
      overflow: hidden;
      background: var(--blert-surface-dark);
    }

    .waveDetails {
      flex-grow: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .waveHeader {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 1.1em;
      margin: 0;
      color: var(--blert-font-color-primary);
      font-weight: 500;

      .time {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: auto;
        font-size: 1em;
        font-family: var(--font-roboto-mono), monospace;

        i {
          color: var(--blert-purple);
        }
      }
    }

    .handicaps {
      h4 {
        font-size: 0.9em;
        font-weight: 500;
        margin: 0 0 8px;
        color: var(--blert-font-color-secondary);
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    padding: 0;

    .waves {
      grid-template-columns: 1fr;

      &:before {
        display: block;
        content: '';
        width: 2px;
        top: 56px;
        bottom: 56px;
        left: 60px;
        position: absolute;
        background: var(--blert-purple);
        opacity: 0.3;
      }
    }

    .wave {
      padding: 12px;
      gap: 12px;

      .waveImg {
        width: 100px;
        height: 100px;
        align-self: center;
      }
    }
  }
}
