@import '../../mixins.scss';

.dpsTimeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dpsChart {
  margin: 50px;
}

.chartParent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-direction: column;

  h3 {
    font-size: 1.5rem;
  }
}
