@import '../mixins.scss';

.rat {
  --rat-width: 100px;
  --rat-height: 100px;

  display: block;
  position: absolute;
  width: var(--rat-width);
  height: var(--rat-height);
  z-index: 9999;
  filter: brightness(1.3);
  transform: scale(1.1);

  animation:
    horizontal linear 6.8s infinite alternate,
    vertical linear 17s infinite alternate;

  .left {
    position: absolute;
    animation: swapOn 13.6s infinite;
  }
  .right {
    position: absolute;
    animation: swapOff 13.6s infinite;
  }

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    display: none;
  }
}

@keyframes vertical {
  0% {
    top: 0;
  }
  48% {
  }
  50% {
    top: calc(100% - var(--rat-height));
  }
  52% {
  }
  100% {
    top: 0;
  }
}

@keyframes horizontal {
  0% {
    left: 0;
  }

  100% {
    left: calc(100% - var(--rat-width));
  }
}

@keyframes swapOff {
  0% {
    opacity: 1;
  }
  49.9% {
    opacity: 1;
  }
  50.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes swapOn {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
