@import '../../mixins.scss';

.leftNavWrapper {
  height: 100%;
  z-index: 50;
  position: fixed;
  top: 0;
}

.leftNav {
  @include hideTheFuckingScrollbarsJesusChrist;
  display: flex;
  height: 100%;
  background-color: var(--nav-bg);
  flex-direction: column;
  overflow-y: scroll;
  transition: all 300ms ease;

  .homeImage {
    position: relative;
    height: 100px;
    width: 200px;

    @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
      height: 70px;
    }
  }

  .account {
    margin-top: auto;

    .userWrapper {
      width: 90%;
      margin: 0 auto;
      border: 2px solid var(--content-area-bg);
      border-radius: 5px;

      .userInfo {
        text-align: center;
        margin: 10px 0;

        & > span {
          color: #fff;
          font-weight: bold;
        }
      }
    }

    .links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 10px 0;

      .link {
        font-weight: 700;
        font-size: 16px;
        padding: 0;
        margin: 0;
        &:hover {
          cursor: pointer;
          color: #fff;
        }
      }
    }
  }

  .colosseumWaves {
    display: flex;
    flex-flow: row wrap;

    &:hover {
      background-color: #0f1015;
    }

    .wave {
      width: 20%;
      margin: 2px 2.5%;
      padding: 3px 0;
      border-radius: 5px;
      text-align: center;

      &:hover,
      &.active {
        background-color: var(--content-area-bg);
        color: var(--font-color-nav-active);
      }
    }
  }
}

.leftNav__playerSearch {
  margin-top: 10px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  .shortcut {
    opacity: 0.7;
    font-size: 11px;
    text-align: center;

    span {
      border: 1px solid var(--blert-text-color);
      border-radius: 3px;
      padding: 1px 4px;
    }
  }
}

.leftNav__logo {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.leftNav__menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.leftNav__menuItem {
  display: flex;
  align-items: center;
  height: 55px;
  justify-content: right;
  flex-direction: row;
  margin: 0;
  padding: 0;

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    height: 45px;
  }
}

.leftNav__subMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 15px 0;
  padding: 0;
  position: relative;
  left: 30px;
  background-color: #0f1015;
  border-radius: 5px;
}

.leftNav__subMenuItem {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 190px;
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.leftNav__subMenuItem:hover,
.leftNav__subMenuItemActive {
  background-color: var(--content-area-bg);
  color: var(--font-color-nav-active);
}

.leftNav__menuItemInner {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 215px;
  align-items: center;
  padding: 0 0 0 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--nav-bg);
  transition: all 150ms ease;
  position: relative;

  span {
    user-select: none;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 44px;
    position: relative;
    padding: 0 0 0 10px;
    color: var(--font-color-nav);
    font-weight: bold;
  }

  &:hover {
    background-color: var(--content-area-bg);

    span {
      color: var(--font-color-nav-active);
    }
  }
}

.leftNav__menuItemInnerActive {
  background-color: var(--content-area-bg);
  span {
    color: var(--font-color-nav-active);
  }
}

.leftNav__menuItemIcon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .imageWrapper {
    position: relative;
    height: 40px;
    width: 40px;
  }

  i {
    font-size: 22px;
    text-align: center;
    color: var(--font-color-nav);
  }
}

.leftNav__playerIcon {
  position: relative;
  transform: scale(0.8);
  top: -3px;
}

@mixin leftMenuDivider {
  height: 2px;
  align-self: center;
  width: 80%;
  background-color: var(--content-area-bg);
  margin: 0;
  padding: 0;
}

.leftNav__menuDivider {
  @include leftMenuDivider;
  margin: 10px 0 10px 0;
}

.leftNav__menuDividerTwo {
  @include leftMenuDivider;
  margin: 5px 0 15px 0;
}

.leftNav__externalLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: flex-end;
  margin: 20px 0;
  width: 100%;
  padding: 0;

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    margin-top: 10px;
  }
}

.leftNav__externalLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  height: 50px;
  width: 50px;
  border: 1px solid #acafc6;
  color: #acafc6;
  border-radius: 5px;
  transition: all 150ms ease;

  &:hover {
    background-color: var(--content-area-bg);
  }

  @media (max-width: $COMPACT_WIDTH_THRESHOLD) {
    font-size: 20px;
    height: 40px;
    width: 40px;
  }
}
