.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
  font-family: var(--font-runescape);
  font-size: 16px;

  img {
    margin-right: 8px;
  }

  &.high {
    color: rgba(var(--blert-green-base), 0.9);
  }

  &.medium {
    color: rgba(var(--blert-yellow-base), 0.9);
  }

  &.low {
    color: rgba(var(--blert-red-base), 0.9);
  }
}
