@use '../../mixins.scss';

.container {
  width: 100%;
  max-width: 1000px;
}

:global(.swagger-ui) {
  font-family: 'Inter', sans-serif;
  color: var(--blert-font-color-primary);
  width: 100%;

  .wrapper {
    @include mixins.panel;
    margin-top: 1em;
    width: 100%;

    &:not(.information-container) {
      justify-content: center;
    }
  }

  .info {
    .title {
      color: #fff;
    }

    .title small {
      color: var(--blert-font-color-primary);
    }
  }

  .opblock-tag-section {
    width: 100%;
  }

  .opblock {
    margin: 0 0 1.5rem;
    border: none;

    &.opblock-get {
      .opblock-summary {
        color: var(--blert-blue);
      }
    }

    &.opblock-post {
      .opblock-summary {
        color: var(--blert-green);
      }
    }

    &.opblock-delete {
      .opblock-summary {
        color: var(--blert-red);
      }
    }

    .opblock-summary {
      border: none;
      background: none;

      .opblock-summary-method {
        background: var(--blert-surface-dark);
      }

      .opblock-summary-path {
        color: var(--blert-font-color-secondary-active);
      }
    }

    .opblock-section-header {
      background: none;
      box-shadow: none;
      border: none;
    }

    pre {
      background: var(--blert-surface-dark) !important;
      margin-bottom: 1em !important;
    }
  }

  .opblock-summary-description,
  .opblock-description-wrapper p,
  .opblock-tag,
  .description p,
  .parameters th,
  .parameter__type,
  .parameter__deprecated,
  .parameter__in,
  .response-col_status,
  .response-col_description,
  .response-col_links,
  .responses-inner h4,
  .responses-inner h5,
  .opblock-section-header h4,
  .parameter__required,
  .parameter-controls,
  .tab-header .tab-item,
  .response-control-media-type__accept-message,
  .download-contents {
    color: var(--blert-font-color-primary);
  }

  .parameter__name {
    color: #fff;
  }

  .model {
    color: var(--blert-font-color-primary);

    .property {
      color: var(--blert-font-color-primary);
    }

    .property-type {
      color: var(--blert-font-color-secondary-active);
    }

    .model-title {
      color: #fff;
    }

    .model-box {
      background: none;
    }
  }

  input {
    background: var(--blert-surface-dark);
    color: var(--blert-font-color-primary);
    border: 1px solid var(--blert-font-color-primary);

    &:focus {
      border: 1px solid #fff;
    }
  }

  table {
    thead tr th {
      color: #fff;
      border-bottom: 1px solid var(--blert-font-color-secondary);
      background: none;
    }

    tbody tr td {
      color: var(--blert-font-color-primary);
      border-bottom: 1px solid var(--blert-font-color-secondary);
      background: none;
    }
  }

  .btn {
    background: var(--blert-surface-dark);
    color: var(--blert-font-color-primary);
    border: 1px solid var(--blert-font-color-secondary);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    &:hover {
      background: var(--blert-surface-light);
    }
  }

  .responses-wrapper {
    background: none;
  }

  .response {
    background: none;
  }

  .opblock-body,
  .tab-header,
  .response-col_description__inner {
    background: none;
  }

  .parameters-container {
    background: none;
    border: none;
  }

  .body-param__text {
    @include mixins.styledScrollbar;
  }

  .prop-type {
    color: var(--blert-font-color-secondary-active);
  }

  .prop-format {
    color: var(--font-color-subtitle);
  }
}

:global(svg.arrow) {
  fill: var(--blert-font-color-primary);
}
