$MAX_ITEMS: 10;
$ITEM_HEIGHT: 36px;
$ITEM_PADDING: 4px;
$MAX_MENU_HEIGHT: ($ITEM_HEIGHT + $ITEM_PADDING * 2) * $MAX_ITEMS;

.itemSearch {
  position: relative;

  &.openBelow {
    input {
      border-radius: 5px 5px 0 0;
      border-bottom: none;
      padding-bottom: 9px; // Compensate for border
    }
  }

  &.openAbove {
    input {
      border-radius: 0 0 5px 5px;
      border-top: none;
      padding-top: 9px; // Compensate for border
    }
  }

  input {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid var(--blert-text-color);
    background: var(--nav-bg);
    color: var(--blert-text-color);
    font-size: 14px;
    transition: border-color 0.2s;

    &:focus {
      outline: none;
      border-color: #fff;
    }

    &::placeholder {
      color: rgba(var(--blert-text-color-base), 0.6);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  input:focus + .key {
    opacity: 0;
  }

  .key {
    position: absolute;
    right: 8px;
    top: calc(50%);
    transform: translateY(-50%);
    color: rgba(var(--blert-text-color-base), 0.6);
    border: 1px solid rgba(var(--blert-text-color-base), 0.6);
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 12px;
  }
}

.menu {
  min-width: 200px;
  max-height: $MAX_MENU_HEIGHT;
  display: flex;
  flex-direction: column;
  border-color: #fff;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 8px;
  width: 100%;
  border-radius: 4px;
  transition: background-color 0.2s;
  height: 36px;

  .name {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .id {
    font-size: 12px;
    color: rgba(var(--blert-text-color-base), 0.6);
  }
}
