.tobOverview {
  height: 300px;
}

.tobOverviewInner {
  padding: 20px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  .textGreeting {
    padding: 0 20px;

    h3 {
      margin: 0;
      padding: 0;
    }

    p {
      margin: 0 0 10px 0;
      padding: 0;
    }
  }

  img {
    display: inline-block;
  }
}

.tobRecentRecordings {
  margin-bottom: 20px;
}

.tobRecentRecordingsList {
  width: 700px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .tobRecentRecordingsListEntry {
    border: 2px solid red;
    cursor: pointer;

    &:hover {
      background-color: lighten(#1b1c25, 4%);
    }
  }
}
