.tagList {
  display: flex;
  flex-flow: row wrap;

  .tag {
    padding: 2px 8px;

    button {
      margin-left: 4px;
      font-size: 14px;

      &:hover {
        color: var(--blert-blue);
        cursor: pointer;
      }
    }
  }
}
