.blert-datepicker .react-datepicker {
  font-family: 'Inter', sans-serif;
  background-color: var(--blert-panel-background-color);
  border: 1px solid var(--blert-font-color-secondary);
}

.blert-datepicker .react-datepicker__header {
  background-color: var(--blert-surface-dark);
}

.blert-datepicker .react-datepicker__current-month {
  color: #888dbb;
}

.blert-datepicker .react-datepicker__day-name {
  color: var(--blert-font-color-primary);
}

.blert-datepicker .react-datepicker__day {
  color: var(--blert-font-color-primary);
}

.blert-datepicker .react-datepicker__day--disabled {
  opacity: 0.5;
}

.blert-datepicker .react-datepicker__day:not([aria-disabled='true']):hover {
  background-color: var(--blert-font-color-primary);
  color: var(--blert-panel-background-color);
}

.blert-datepicker .react-datepicker__day--selected,
.blert-datepicker .react-datepicker__day--keyboard-selected {
  background-color: var(--blert-purple);
  color: #fff;
  font-weight: 700;
}

.blert-datepicker-wrapper .react-datepicker__calendar-icon {
  top: calc(50% - 1px);
  left: 2px;
  transform: translateY(-50%);
  color: var(--blert-font-color-secondary);
}

.blert-datepicker-wrapper .react-datepicker__close-icon {
  right: -2px;
}

.blert-datepicker-wrapper .react-datepicker__close-icon::after {
  color: var(--blert-font-color-secondary);
  font-family: 'Font Awesome 6 Free';
  content: '\f057';
  background: none;
  font-size: 18px;
}

.blert-datepicker-wrapper .react-datepicker__close-icon:hover::after {
  color: var(--blert-purple);
}

.blert-datepicker-wrapper .react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 30px;
}
