.statistic {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .value {
    font-size: 4rem;
    font-weight: 700;
  }

  .name {
    font-size: 1.25rem;
  }
}
