.input {
  padding: 10px 0;
  display: flex;
  position: relative;

  label {
    position: absolute;
    top: 20px;
    padding: 0 5px;
    transition:
      top 0.3s,
      font-size 0.3s;
    pointer-events: none;
  }

  input {
    border: 1px solid var(--blert-divider-color);
    border-radius: 5px;
    background: none;
    font-size: 16px;
    line-height: 16px;
    height: 42px;
    box-sizing: border-box;
    color: var(--blert-font-color-primary);

    &:focus {
      outline: none;
      border-color: rgba(var(--blert-purple-base), 0.9);
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      font-size: 12px;
      color: rgba(var(--blert-purple-base), 0.9);
      top: 2px;
    }

    &:not(:placeholder-shown) ~ .icon,
    &:focus ~ .icon {
      visibility: hidden;
    }

    &:disabled {
      opacity: 0.5;
    }

    &:disabled + label {
      color: rgb(var(--blert-font-color-primary), 0.5);
    }

    &:-webkit-autofill {
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--blert-font-color-primary);
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: inset 0 0 20px 20px #23232329;
      caret-color: var(--blert-font-color-primary);
    }
  }

  .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--blert-font-color-primary);
    font-size: 16px;
    pointer-events: none;
  }

  &.invalid {
    input {
      border-color: var(--blert-red);
    }

    label {
      color: var(--blert-red) !important;
    }
  }
}
