@import '../../mixins.scss';

.raid__bulletpointDetails {
  @include panel;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;

  &.raid__bulletpointDetailsCompact {
    box-shadow: none;
    background: none;
  }
}

.raid__bulletpointDetail {
  padding: 10px;
  width: 165px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  i {
    width: 20px;
    margin-right: 5px;
  }
}
