@use '../../mixins.scss' as *;

.raid__Team {
  @include panel;
  height: 125px;
  padding: 20px 20px 10px 20px;
  padding: 20px 20px 10px 20px;
  justify-content: space-evenly;
  margin-bottom: 20px;
  align-items: center;
  overflow: hidden;

  &:not(.raid__TeamCompactView) {
    .raid__PlayerImg {
      transform: scale(2.5);
      top: 95px !important;
    }
  }
}

.raid__TeamCompactView {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  height: auto;
  width: 100%;
  padding: 20px;

  .raid__Player {
    width: 100%;
    cursor: auto;
    height: 60px;
    flex-direction: row;
    padding: 0 10%;
    justify-content: flex-start;
    border: 1px solid #ffffff10;
    border-radius: 5px;

    &:hover {
      transform: scale(1);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .imageWrapper {
      position: relative;
      width: 50px;
      height: 50px;
      overflow: hidden;
    }

    .raid__PlayerImg {
      transform: scale(2);
      top: 26px !important;
    }

    .raid__PlayerName {
      display: block;
      font-weight: 700;
      max-width: 240px;
      font-size: 24px;
      padding-left: 20px;
      top: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.raid__Player {
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 150ms linear;

  &:hover {
    transform: scale(1.1);
    top: 0px !important;
  }
}

.raid__PlayerName {
  display: flex;
  position: relative;
  top: -10px;
  font-size: 16px;
}
